<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attempt the Test</title>
</head>
<body>
<h1>Ready. Set. Go!</h1><br>

<form method="post" action="/{{context.id}}/testresult/">
    {% csrf_token %}
    {% for i in context.questions.all %}
    <h3>{{ i.statement }}</h3>
    <input type="radio" name="radAns{{i}}"> {{ i.option1 }}<br><br>
    <input type="radio" name="radAns{{i}}"> {{ i.option2 }}<br><br>
    <input type="radio" name="radAns{{i}}"> {{ i.option3 }}<br><br>
    <input type="radio" name="radAns{{i}}"> {{ i.option4 }}<br><br>
    {% endfor %}
    <input type="submit" value="Submit Test">
</form>
</body>
</html>