<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attempt the Test</title>
</head>
<body>
<h1>Ready. Set. Go!</h1>
<form>
    {% for i in context %}
        <tr>
            <h3>{{ i.statement }}</h3>
        </tr>
    <input type="radio" checked> {{ i.option1 }}<br><br>
    <input type="radio" checked> {{ i.option2 }}<br><br>
    <input type="radio" checked> {{ i.option3 }}<br><br>
    <input type="radio" checked> {{ i.option4 }}<br><br>
    <input type="submit" value="Submit">
    {% endfor %}
</form>

</body>
</html>